.SendBtn {
	background-color: rgb(37, 162, 51) !important;
	display: block !important;
	margin: 10px auto !important;
	color: white !important;
}

.SendBtn:hover {
	background-color: rgb(32, 139, 44) !important;
}
