.Button {
	background-color: rgb(37, 162, 51);
	outline: none;
	padding: 10px;
	color: white;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: 0.5s;
	display: block;
	margin: 0 auto;
}

.Button:hover {
	background-color: rgb(32, 139, 44);
}
