.SectionInput {
	width: 100%;
}

.SectionFieldSet {
	display: flex;
	justify-content: center;
	flex: 1;
	align-items: baseline;
	gap: 15px;
	position: relative;
	top: 0;
	left: 0;
	outline: none;
	border: none;
	margin: 20px 0px;
	width: 100%;
}

.RemoveBtn {
	background-color: #ff1744 !important;
}

.RemoveBtn:hover {
	background-color: #c9052c !important;
}

.AddBtn {
	background-color: #4caf50 !important;
}

.AddBtn:hover {
	background-color: #357a38 !important;
}
