.FieldsContainer {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 10px;
	gap: 5px;
	align-items: center;
}

.Input {
	min-width: 100px;
}

.RemoveBtn {
	background-color: #ff1744 !important;
}

.RemoveBtn:hover {
	background-color: #c9052c !important;
}
